.animate {
  animation: transitionIn 1.15s;
}
@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-light-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.contact-light-main {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 739px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.contact-light-intro-text {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 528.1625366210938px;
  height: 115px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-light-text {
  left: -13px;
  color: var(--dl-color-gray-500);
  bottom: -11px;
  opacity: 0.1;
  position: absolute;
  font-size: 110px;
  font-weight: 800;
  text-transform: uppercase;
}
.contact-light-text1 {
  top: 32px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
.contact-light-text2 {
  color: #666666;
}
.contact-light-text4 {
  color: var(--dl-color-primary-500);
}
.contact-light-name {
  top: 215px;
  left: 41%;
  color: #666666;
  width: 23%;
  position: absolute;
  transition: 0.3s;
  padding-top: 18px;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 18px;
  background-color: transparent;
}
.contact-light-name:hover {
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  background-color: rgba(217, 217, 217, 0.39);
}
.contact-light-email {
  top: 214px;
  left: 66.5%;
  color: #666666;
  width: 23%;
  position: absolute;
  transition: 0.3s;
  padding-top: 18px;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 18px;
  background-color: transparent;
}
.contact-light-email:hover {
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  background-color: rgba(217, 217, 217, 0.39);
}
.contact-light-subject {
  top: 305px;
  left: 41%;
  color: #666666;
  width: 49%;
  position: absolute;
  transition: 0.3s;
  padding-top: 18px;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 18px;
  background-color: transparent;
}
.contact-light-subject:hover {
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  background-color: rgba(217, 217, 217, 0.39);
}
.contact-light-message {
  top: 400px;
  left: 41%;
  color: #666666;
  width: 49%;
  height: 214px;
  position: absolute;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
}
.contact-light-message:hover {
  border-color: var(--dl-color-primary-500);
  background-color: rgba(217, 217, 217, 0.39);
}
.contact-light-sendmsg-btn {
  top: 650px;
  flex: 0 0 auto;
  left: 41%;
  width: 215px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  border-color: var(--dl-color-primary-500);
  border-style: solid;
  border-width: 2px;
  padding-left: 0px;
  border-radius: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: transparent;
}
.contact-light-sendmsg-btn:hover {
  background-color: var(--dl-color-primary-500);
}
.contact-light-text5 {
  top: 0px;
  left: 0px;
  color: #666666;
  width: 87%;
  height: 100%;
  z-index: 100;
  position: absolute;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 14px;
  padding-right: 14px;
  border-radius: 40px;
  text-transform: uppercase;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.contact-light-text5:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-500);
}
.contact-light-container1 {
  top: 0px;
  flex: 0 0 auto;
  right: -1px;
  width: 50px;
  bottom: 0px;
  height: 106%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: flex-end;
  background-color: var(--dl-color-primary-500);
}
.contact-light-icon {
  top: 0px;
  fill: var(--dl-color-gray-white);
  right: 14px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
}
.contact-light-dont {
  top: 215px;
  left: 5%;
  color: #666666;
  position: absolute;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-light-info {
  top: 275px;
  left: 5%;
  color: #666666;
  width: 30%;
  position: absolute;
  font-size: 18px;
}
.contact-light-sidenavbardark {
  top: 0px;
  right: 2.5%;
  width: 179px;
  bottom: 0px;
  height: 300px;
  margin: auto;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-light-home {
  top: 0px;
  right: 0px;
  width: 170px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-light-homebtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.contact-light-homebtn:hover {
  background-color: var(--dl-color-primary-500);
}
.contact-light-navlink {
  display: contents;
}
.contact-light-icon02 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.contact-light-navlink1 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 135px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.contact-light-navlink1:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.contact-light-about {
  top: 80px;
  right: 0px;
  width: 170px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-light-aboutbtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.contact-light-aboutbtn:hover {
  background-color: var(--dl-color-primary-500);
}
.contact-light-navlink2 {
  display: contents;
}
.contact-light-icon04 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.contact-light-navlink3 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 140px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.contact-light-navlink3:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.contact-light-portfolio {
  top: 160px;
  right: 0px;
  width: 205px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-light-portfoliobtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.contact-light-portfoliobtn:hover {
  background-color: var(--dl-color-primary-500);
}
.contact-light-navlink4 {
  display: contents;
}
.contact-light-icon06 {
  top: -4px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.contact-light-navlink5 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 175px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 19px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.contact-light-navlink5:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.contact-light-contact {
  top: 240px;
  right: 0px;
  width: 205px;
  bottom: 0px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-light-contactbtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.contact-light-contactbtn:hover {
  background-color: var(--dl-color-primary-500);
}
.contact-light-navlink6 {
  display: contents;
}
.contact-light-icon08 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.contact-light-navlink7 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 175px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 19px;
  border-width: 0px;
  padding-left: 24px;
  border-radius: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.contact-light-navlink7:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.contact-light-navlink8 {
  display: contents;
}
.contact-light-dark {
  top: 12px;
  right: 2.5%;
  width: 54px;
  height: 54px;
  display: flex;
  position: fixed;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
}
.contact-light-dark:hover {
  background-color: var(--dl-color-gray-black);
}
.contact-light-moon {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 30px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  position: absolute;
}
@media (max-width: 1200px) {
  .contact-light-text5 {
    padding-right: var(--dl-space-space-halfunit);
  }
  .contact-light-dont {
    left: 3%;
  }
  .contact-light-info {
    left: 3%;
    width: 35%;
  }
  .contact-light-sidenavbardark {
    height: 225px;
  }
  .contact-light-home {
    top: 15px;
    width: 140px;
  }
  .contact-light-homebtn {
    width: 40px;
    height: 40px;
  }
  .contact-light-navlink1 {
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .contact-light-about {
    top: 70px;
    width: 140px;
  }
  .contact-light-aboutbtn {
    width: 40px;
    height: 40px;
  }
  .contact-light-navlink3 {
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .contact-light-portfolio {
    top: 125px;
    width: 165px;
  }
  .contact-light-portfoliobtn {
    width: 40px;
    height: 40px;
  }
  .contact-light-navlink5 {
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    padding-top: 11px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
  }
  .contact-light-contact {
    top: 180px;
    width: 160px;
  }
  .contact-light-contactbtn {
    width: 40px;
    height: 40px;
  }
  .contact-light-navlink7 {
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .contact-light-dark {
    top: -44%;
    right: 0%;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .contact-light-moon {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 991px) {
  .contact-light-main {
    height: 707px;
    background-color: var(--dl-color-gray-white);
  }
  .contact-light-intro-text {
    height: 86px;
  }
  .contact-light-text {
    top: 0px;
    left: 0px;
    right: 0px;
    position: static;
    font-size: 80px;
  }
  .contact-light-text1 {
    top: 24px;
    font-size: 37px;
  }
  .contact-light-name {
    top: 140px;
    font-size: 12px;
    padding-bottom: 18px;
  }
  .contact-light-email {
    top: 140px;
    font-size: 12px;
  }
  .contact-light-subject {
    top: 220px;
    font-size: 12px;
  }
  .contact-light-message {
    top: 310px;
    font-size: 12px;
  }
  .contact-light-sendmsg-btn {
    top: 550px;
    width: 170px;
    height: 40px;
    border-width: 1px;
  }
  .contact-light-text5 {
    top: 0px;
    left: 0px;
    color: #666666;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-top: 12px;
    padding-right: var(--dl-space-space-halfunit);
    text-transform: uppercase;
  }
  .contact-light-container1 {
    width: 40px;
    height: 40px;
  }
  .contact-light-icon {
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .contact-light-dont {
    top: 140px;
    color: #666666;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .contact-light-info {
    top: 190px;
    color: #666666;
    width: 33%;
    font-size: 16px;
  }
  .contact-light-sidenavbardark {
    width: 40px;
    height: 164px;
  }
  .contact-light-home {
    top: 25px;
    width: 100%;
  }
  .contact-light-homebtn {
    width: 30px;
    height: 30px;
  }
  .contact-light-icon02 {
    width: 20px;
    height: 20px;
  }
  .contact-light-navlink1 {
    display: none;
  }
  .contact-light-about {
    top: 70px;
    width: 100%;
  }
  .contact-light-aboutbtn {
    width: 30px;
    height: 30px;
  }
  .contact-light-icon04 {
    width: 20px;
    height: 20px;
  }
  .contact-light-navlink3 {
    display: none;
  }
  .contact-light-portfolio {
    top: 115px;
    width: 100%;
  }
  .contact-light-portfoliobtn {
    width: 30px;
    height: 30px;
    background-color: rgba(89, 89, 89, 0.59);
  }
  .contact-light-icon06 {
    top: -1px;
    width: 20px;
    height: 20px;
  }
  .contact-light-navlink5 {
    display: none;
  }
  .contact-light-contact {
    top: 160px;
    width: 100%;
  }
  .contact-light-contactbtn {
    width: 30px;
    height: 30px;
    background-color: var(--dl-color-primary-500);
  }
  .contact-light-icon08 {
    width: 20px;
    height: 20px;
  }
  .contact-light-navlink7 {
    display: none;
  }
  .contact-light-dark {
    top: -40%;
    width: 30px;
    height: 30px;
  }
  .contact-light-moon {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 767px) {
  .contact-light-main {
    height: 781px;
  }
  .contact-light-intro-text {
    width: 484px;
    height: 55px;
  }
  .contact-light-text {
    font-size: 45px;
  }
  .contact-light-text1 {
    top: 14px;
    font-size: 20px;
  }
  .contact-light-name {
    top: 450px;
    left: 5%;
    width: 40%;
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact-light-email {
    top: 450px;
    left: 48.5%;
    width: 40%;
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact-light-subject {
    top: 500px;
    left: 5%;
    width: 84%;
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact-light-message {
    top: 550px;
    left: 5%;
    width: 85%;
    height: 160px;
  }
  .contact-light-sendmsg-btn {
    top: 730px;
    left: 6%;
    width: 140px;
    height: 30px;
    margin: auto;
    border-width: 1px;
  }
  .contact-light-text5 {
    top: 0px;
    font-size: 10px;
    padding-top: 9px;
  }
  .contact-light-container1 {
    width: 30px;
    height: 30px;
  }
  .contact-light-icon {
    right: 9px;
    width: 15px;
    height: 17px;
  }
  .contact-light-dont {
    top: 100px;
    left: 5%;
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .contact-light-info {
    top: 140px;
    left: 5%;
    color: #666666;
    width: 60%;
    font-size: 12px;
    text-align: left;
  }
  .contact-light-sidenavbardark {
    height: 139px;
  }
  .contact-light-homebtn {
    width: 23px;
    height: 23px;
  }
  .contact-light-icon02 {
    width: 15px;
    height: 15px;
  }
  .contact-light-about {
    top: 60px;
  }
  .contact-light-aboutbtn {
    width: 23px;
    height: 23px;
  }
  .contact-light-icon04 {
    width: 15px;
    height: 15px;
  }
  .contact-light-portfolio {
    top: 95px;
  }
  .contact-light-portfoliobtn {
    width: 23px;
    height: 23px;
  }
  .contact-light-icon06 {
    top: -1px;
    width: 15px;
    height: 15px;
  }
  .contact-light-contact {
    top: 130px;
  }
  .contact-light-contactbtn {
    width: 23px;
    height: 23px;
  }
  .contact-light-icon08 {
    width: 15px;
    height: 15px;
  }
  .contact-light-dark {
    top: -33%;
    width: 23px;
    height: 23px;
  }
  .contact-light-moon {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 479px) {
  .contact-light-main {
    height: 662px;
  }
  .contact-light-intro-text {
    top: 15px;
    width: 320px;
    height: 32px;
  }
  .contact-light-text {
    font-size: 30px;
  }
  .contact-light-text1 {
    top: 9px;
    color: var(--dl-color-gray-white);
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .contact-light-text2 {
    color: #666666;
  }
  .contact-light-text3 {
    color: #666666;
  }
  .contact-light-text4 {
    color: var(--dl-color-primary-500);
  }
  .contact-light-name {
    top: 350px;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-light-email {
    top: 350px;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-light-subject {
    top: 400px;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-light-message {
    top: 450px;
    height: 140px;
    font-size: 8px;
  }
  .contact-light-sendmsg-btn {
    top: 610px;
    width: 100px;
    height: 25px;
  }
  .contact-light-text5 {
    top: -2px;
    left: 0px;
    font-size: 8px;
  }
  .contact-light-container1 {
    width: 25px;
    height: 25px;
  }
  .contact-light-icon {
    width: 10px;
    height: 16px;
  }
  .contact-light-dont {
    top: 80px;
    font-size: 12px;
  }
  .contact-light-info {
    top: 115px;
    color: #666666;
    width: 70%;
    font-size: 10px;
  }
  .contact-light-sidenavbardark {
    width: 19px;
    height: 123px;
  }
  .contact-light-home {
    top: 30px;
    height: 15px;
  }
  .contact-light-homebtn {
    width: 12px;
    height: 12px;
  }
  .contact-light-icon02 {
    width: 7px;
    height: 8px;
  }
  .contact-light-about {
    top: 50px;
    height: 15px;
  }
  .contact-light-aboutbtn {
    width: 12px;
    height: 12px;
  }
  .contact-light-icon04 {
    left: 0px;
    right: 0px;
    width: 7px;
    bottom: 1px;
    height: 8px;
    margin: auto;
  }
  .contact-light-portfolio {
    top: 70px;
    height: 15px;
  }
  .contact-light-portfoliobtn {
    width: 12px;
    height: 12px;
  }
  .contact-light-icon06 {
    width: 7px;
    height: 8px;
  }
  .contact-light-contact {
    top: 90px;
    height: 13px;
  }
  .contact-light-contactbtn {
    width: 12px;
    height: 12px;
  }
  .contact-light-icon08 {
    top: 1px;
    width: 7px;
    height: 8px;
  }
  .contact-light-dark {
    top: -6%;
    right: 0px;
    width: 12px;
    height: 12px;
  }
  .contact-light-moon {
    width: 8px;
    height: 8px;
  }
}
