.animate {
  animation: transitionIn 1.15s;
}
@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-light-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-light-container:focus-within {
  background-color: transparent;
}
.home-light-homeimg {
  width: 100%;
  height: 758px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/untitled%20design%20%5B9%5D-1500w.png");
  background-position: center;
}
.home-light-tabletmodel {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: center;
}
.home-light-model-dark {
  top: 0px;
  flex: 0 0 auto;
  left: 1%;
  width: 666px;
  bottom: 0px;
  height: 600px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-desktop {
  top: -Infinitypx;
  left: NaNpx;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
}
.home-light-laptop {
  top: -Infinitypx;
  left: NaNpx;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
}
.home-light-widemodel {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.home-light-sidenavbar-light {
  top: 0px;
  right: 2.5%;
  width: 179px;
  bottom: 0px;
  height: 300px;
  margin: auto;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-home {
  top: 0px;
  right: 0px;
  width: 170px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-homebtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-light-homebtn:hover {
  background-color: var(--dl-color-primary-500);
}
.home-light-navlink {
  display: contents;
}
.home-light-icon {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.home-light-navlink01 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 135px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 22px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.home-light-navlink01:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-about {
  top: 80px;
  right: 0px;
  width: 170px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-aboutbtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.home-light-aboutbtn:hover {
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-navlink02 {
  display: contents;
}
.home-light-icon02 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.home-light-navlink03 {
  top: 0px;
  color: transparent;
  right: 0px;
  width: 140px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.home-light-navlink03:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-portfolio {
  top: 160px;
  right: 0px;
  width: 205px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-portfoliobtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.home-light-portfoliobtn:hover {
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-navlink04 {
  display: contents;
}
.home-light-icon04 {
  top: -4px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.home-light-navlink05 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 175px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 19px;
  border-width: 0px;
  padding-left: 22px;
  border-radius: 30px;
  padding-right: 22px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.home-light-navlink05:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-contact {
  top: 240px;
  right: 0px;
  width: 205px;
  bottom: 0px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-contactbtn {
  top: 1px;
  right: 0px;
  width: 54px;
  height: 54px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(89, 89, 89, 0.59);
}
.home-light-contactbtn:hover {
  background-color: var(--dl-color-primary-500);
}
.home-light-navlink06 {
  display: contents;
}
.home-light-icon06 {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.home-light-navlink07 {
  top: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 175px;
  height: 55px;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 19px;
  border-width: 0px;
  padding-left: 24px;
  border-radius: 30px;
  padding-right: 24px;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.home-light-navlink07:hover {
  color: #ffffff;
  background-color: var(--dl-color-primary-500);
  text-decoration: none;
}
.home-light-navlink08 {
  display: contents;
}
.home-light-dark {
  top: 12px;
  right: 2.5%;
  width: 54px;
  height: 54px;
  display: flex;
  position: fixed;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
}
.home-light-dark:hover {
  background-color: var(--dl-color-gray-black);
}
.home-light-moon {
  top: 0px;
  fill: var(--dl-color-gray-white);
  left: 0px;
  right: 0px;
  width: 30px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  position: absolute;
}
.home-light-maintext {
  top: 27%;
  left: 54%;
  width: 415.78753662109375px;
  height: 283px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-second-text {
  top: 36%;
  width: 400px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-light-text {
  top: 0px;
  color: rgb(102, 102, 102);
  width: 120%;
  height: 100%;
  position: absolute;
  font-size: 18px;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
}
.home-light-more-b-t-n {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 215px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: transparent;
}
.home-light-moreabtme {
  top: 0px;
  left: 0px;
  color: #666666;
  width: 102%;
  height: 100%;
  z-index: 100;
  position: absolute;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 14px;
  border-color: var(--dl-color-primary-500);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-right-radius: 40;
  border-bottom-right-radius: 40;
}
.home-light-moreabtme:hover {
  color: var(--dl-color-gray-white);
  width: 100%;
  background-color: var(--dl-color-primary-500);
  border-top-right-radius: 40;
  border-bottom-right-radius: 40;
  text-decoration: none;
}
.home-light-iconcointainer {
  top: 0px;
  flex: 0 0 auto;
  right: -3px;
  width: 50px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: flex-end;
  background-color: var(--dl-color-primary-500);
}
.home-light-iconcointainer:hover {
  width: 100.8%;
  height: 103%;
  border-radius: 40px;
}
.home-light-navlink09 {
  display: contents;
  text-decoration: none;
}
.home-light-arrow {
  top: 0px;
  fill: var(--dl-color-gray-white);
  right: 14px;
  width: 24px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  z-index: 100;
  position: absolute;
  text-decoration: none;
}
.home-light-navlink10 {
  display: contents;
}
.home-light-more-b-t-n1 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 215px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: none;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  border-color: #ff5f00;
  border-style: solid;
  border-width: 2px;
  padding-left: 0px;
  border-radius: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
}
.home-light-more-b-t-n1:hover {
  border-width: 1px;
  background-color: var(--dl-color-primary-500);
}
.home-light-moreabtme1 {
  top: var(--dl-space-space-unit);
  left: 17px;
  color: var(--dl-color-gray-white);
  z-index: 100;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-light-arrow1 {
  top: 0px;
  fill: #d9d9d9;
  right: 14px;
  width: 24px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  z-index: 100;
  position: absolute;
}
.home-light-iconcointainer1 {
  top: 0px;
  flex: 0 0 auto;
  right: -1px;
  width: 50px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: flex-end;
  background-color: #ff5f00;
}
.home-light-iconcointainer1:hover {
  width: 60px;
  height: 14px;
  border-radius: 40px;
}
.home-light-arrow2 {
  top: 0px;
  fill: #d9d9d9;
  right: 14px;
  width: 24px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  z-index: 100;
  position: absolute;
}
.home-light-text03 {
  top: 0px;
  left: 0px;
  color: rgb(102, 102, 102);
  right: 0px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 200%;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.home-light-text04 {
  color: var(--dl-color-gray-black);
}
.home-light-text05 {
  color: var(--dl-color-gray-black);
}
.home-light-text06 {
  color: var(--dl-color-gray-black);
}
.home-light-text07 {
  top: 45px;
  left: 62px;
  color: var(--dl-color-primary-500);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-light-text08 {
  top: 0px;
  left: 0px;
  color: #666666;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 200%;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .home-light-homeimg {
    width: 100%;
    height: 608px;
  }
  .home-light-model-dark {
    top: 0px;
    left: 0px;
    width: 573px;
    bottom: 0px;
    height: 585px;
    margin: auto;
  }
  .home-light-desktop {
    display: none;
  }
  .home-light-laptop {
    top: 0px;
    left: 0px;
    width: 570px;
    height: 584px;
    display: flex;
  }
  .home-light-sidenavbar-light {
    height: 225px;
  }
  .home-light-home {
    top: 15px;
    width: 140px;
  }
  .home-light-homebtn {
    width: 40px;
    height: 40px;
  }
  .home-light-navlink01 {
    color: rgba(191, 38, 38, 0);
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .home-light-about {
    top: 70px;
    width: 140px;
  }
  .home-light-aboutbtn {
    width: 40px;
    height: 40px;
  }
  .home-light-navlink03 {
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .home-light-portfolio {
    top: 125px;
    width: 165px;
    z-index: 100;
  }
  .home-light-portfoliobtn {
    width: 40px;
    height: 40px;
  }
  .home-light-navlink05 {
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    padding-top: 11px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
  }
  .home-light-contact {
    top: 180px;
    width: 160px;
  }
  .home-light-contactbtn {
    width: 40px;
    height: 40px;
  }
  .home-light-navlink07 {
    width: 100%;
    height: 100%;
    padding-top: 11px;
  }
  .home-light-dark {
    top: -44%;
    right: 0%;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .home-light-moon {
    width: 27px;
    height: 27px;
  }
  .home-light-maintext {
    top: 29%;
    left: 54%;
    width: 370px;
    height: 244px;
    margin: auto;
  }
  .home-light-second-text {
    top: 40%;
    width: 350px;
  }
  .home-light-text {
    top: 0px;
    color: #666666;
    width: 100%;
    position: absolute;
    font-size: 15px;
    font-weight: 400;
  }
  .home-light-more-b-t-n {
    width: 190px;
    height: 40px;
  }
  .home-light-moreabtme {
    top: 0px;
    color: #666666;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-top: 11px;
    text-transform: uppercase;
  }
  .home-light-iconcointainer {
    width: 40px;
    height: 40px;
  }
  .home-light-arrow {
    right: 7px;
    width: 22px;
    height: 20px;
  }
  .home-light-more-b-t-n1 {
    width: 190px;
    height: 40px;
  }
  .home-light-moreabtme1 {
    top: 10px;
    color: var(--dl-color-gray-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-arrow1 {
    right: 7px;
    width: 22px;
    height: 20px;
  }
  .home-light-iconcointainer1 {
    width: 40px;
    height: 40px;
  }
  .home-light-arrow2 {
    right: 7px;
    width: 22px;
    height: 20px;
  }
  .home-light-text03 {
    top: 0px;
    left: 0px;
    color: var(--dl-color-primary-500);
    right: 0px;
    margin: auto;
    position: absolute;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-text04 {
    color: var(--dl-color-gray-white);
  }
  .home-light-text07 {
    top: 40px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .home-light-container {
    background-color: #100f0f;
  }
  .home-light-homeimg {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 417px;
    position: absolute;
  }
  .home-light-tabletmodel {
    top: 15%;
    left: 5%;
    width: 400px;
    height: 320px;
    display: flex;
    position: absolute;
  }
  .home-light-div {
    width: 100%;
    height: 100%;
  }
  .home-light-model-dark {
    display: none;
  }
  .home-light-sidenavbar-light {
    width: 40px;
    height: 164px;
  }
  .home-light-home {
    top: 25px;
    width: 100%;
  }
  .home-light-homebtn {
    width: 30px;
    height: 30px;
  }
  .home-light-icon {
    width: 20px;
    height: 20px;
  }
  .home-light-navlink01 {
    display: none;
  }
  .home-light-about {
    top: 70px;
    width: 100%;
  }
  .home-light-aboutbtn {
    width: 30px;
    height: 30px;
  }
  .home-light-icon02 {
    width: 20px;
    height: 20px;
  }
  .home-light-navlink03 {
    display: none;
  }
  .home-light-portfolio {
    top: 115px;
    width: 100%;
  }
  .home-light-portfoliobtn {
    width: 30px;
    height: 30px;
    background-color: rgba(89, 89, 89, 0.59);
  }
  .home-light-icon04 {
    top: -1px;
    width: 20px;
    height: 20px;
  }
  .home-light-navlink05 {
    display: none;
  }
  .home-light-contact {
    top: 160px;
    width: 100%;
  }
  .home-light-contactbtn {
    width: 30px;
    height: 30px;
    background-color: rgba(89, 89, 89, 0.59);
  }
  .home-light-icon06 {
    width: 20px;
    height: 20px;
  }
  .home-light-navlink07 {
    display: none;
  }
  .home-light-dark {
    top: -40%;
    width: 30px;
    height: 30px;
  }
  .home-light-moon {
    width: 22px;
    height: 22px;
  }
  .home-light-maintext {
    top: 27%;
    left: 54%;
    width: 260px;
    height: 173px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-light-second-text {
    top: 40%;
    width: 100%;
    height: 135px;
  }
  .home-light-text {
    font-size: 11px;
  }
  .home-light-more-b-t-n {
    width: 100px;
    height: 25px;
    border-color: var(--dl-color-primary-500);
    border-width: 0px;
  }
  .home-light-moreabtme {
    top: 0px;
    left: 0px;
    position: absolute;
    font-size: 7.5px;
    padding-top: 7px;
    border-width: 1.5px;
    padding-left: 5px;
  }
  .home-light-iconcointainer {
    width: 25px;
    height: 25px;
  }
  .home-light-arrow {
    right: 4.5px;
    width: 15px;
    height: 15px;
  }
  .home-light-more-b-t-n1 {
    width: 100px;
    height: 25px;
    border-width: 1.5px;
  }
  .home-light-moreabtme1 {
    top: 6px;
    left: 5px;
    position: absolute;
    font-size: 7.5px;
  }
  .home-light-arrow1 {
    right: 4.5px;
    width: 15px;
    height: 15px;
  }
  .home-light-iconcointainer1 {
    width: 25px;
    height: 25px;
  }
  .home-light-arrow2 {
    right: 4.5px;
    width: 15px;
    height: 15px;
  }
  .home-light-text03 {
    top: 0px;
    left: 0px;
    color: #666666;
    right: 0px;
    height: var(--dl-size-size-xsmall);
    margin: auto;
    display: none;
    position: absolute;
  }
  .home-light-text04 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
  }
  .home-light-text05 {
    font-size: 18px;
  }
  .home-light-text06 {
    font-size: 16px;
  }
  .home-light-text07 {
    top: 30px;
    left: 0px;
    bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-text08 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .home-light-homeimg {
    width: 100%;
    height: 404px;
  }
  .home-light-tabletmodel {
    top: 30%;
    left: 7%;
    display: none;
  }
  .home-light-widemodel {
    top: 0px;
    left: 5%;
    width: 252px;
    bottom: 0px;
    height: 226px;
    margin: auto;
    display: flex;
    position: absolute;
  }
  .home-light-div1 {
    width: 100%;
    height: 238px;
  }
  .home-light-sidenavbar-light {
    height: 139px;
  }
  .home-light-homebtn {
    width: 23px;
    height: 23px;
  }
  .home-light-icon {
    width: 15px;
    height: 15px;
  }
  .home-light-about {
    top: 60px;
  }
  .home-light-aboutbtn {
    width: 23px;
    height: 23px;
  }
  .home-light-icon02 {
    width: 15px;
    height: 15px;
  }
  .home-light-portfolio {
    top: 95px;
  }
  .home-light-portfoliobtn {
    width: 23px;
    height: 23px;
  }
  .home-light-icon04 {
    top: -1px;
    width: 15px;
    height: 15px;
  }
  .home-light-contact {
    top: 130px;
  }
  .home-light-contactbtn {
    width: 23px;
    height: 23px;
  }
  .home-light-icon06 {
    width: 15px;
    height: 15px;
  }
  .home-light-dark {
    top: -33%;
    width: 23px;
    height: 23px;
  }
  .home-light-moon {
    width: 15px;
    height: 15px;
  }
  .home-light-maintext {
    top: 0px;
    left: 38%;
    right: 0px;
    width: 200px;
    bottom: 0px;
    height: 150px;
    margin: auto;
  }
  .home-light-second-text {
    top: 40%;
    width: 197px;
  }
  .home-light-text {
    color: #666666;
    font-size: 9px;
    font-weight: 400;
  }
  .home-light-more-b-t-n {
    width: 80px;
    height: 20px;
    border-width: 0px;
  }
  .home-light-moreabtme {
    top: 0px;
    left: 0px;
    color: #666666;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    border-width: 1px;
    text-transform: uppercase;
  }
  .home-light-iconcointainer {
    width: 20px;
    height: 20px;
  }
  .home-light-arrow {
    width: 10px;
  }
  .home-light-more-b-t-n1 {
    width: 80px;
    height: 20px;
    border-width: 1px;
  }
  .home-light-moreabtme1 {
    top: 6.3px;
    left: 4.5px;
    color: var(--dl-color-gray-white);
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-arrow1 {
    width: 10px;
  }
  .home-light-iconcointainer1 {
    width: 20px;
    height: 20px;
  }
  .home-light-arrow2 {
    width: 10px;
  }
  .home-light-text03 {
    top: 0px;
    left: 0px;
    color: rgb(255, 95, 0);
    right: 0px;
    height: var(--dl-size-size-xsmall);
    margin: auto;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-text04 {
    color: var(--dl-color-gray-white);
    font-size: 13px;
  }
  .home-light-text05 {
    font-size: 11px;
  }
  .home-light-text06 {
    font-size: 16px;
  }
  .home-light-text07 {
    top: 3px;
    color: var(--dl-color-primary-500);
    height: 100px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-text08 {
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .home-light-homeimg {
    width: 100%;
    height: 200px;
  }
  .home-light-widemodel {
    left: 2%;
    margin: 0px;
    display: none;
  }
  .home-light-div1 {
    top: -Infinitypx;
    left: -Infinitypx;
    position: absolute;
  }
  .home-light-sidenavbar-light {
    width: 19px;
    height: 123px;
  }
  .home-light-home {
    top: 30px;
    height: 15px;
  }
  .home-light-homebtn {
    width: 12px;
    height: 12px;
  }
  .home-light-icon {
    width: 7px;
    height: 8px;
  }
  .home-light-about {
    top: 50px;
    height: 15px;
  }
  .home-light-aboutbtn {
    width: 12px;
    height: 12px;
  }
  .home-light-icon02 {
    left: 0px;
    right: 0px;
    width: 7px;
    bottom: 1px;
    height: 8px;
    margin: auto;
  }
  .home-light-portfolio {
    top: 70px;
    height: 15px;
  }
  .home-light-portfoliobtn {
    width: 12px;
    height: 12px;
  }
  .home-light-icon04 {
    width: 7px;
    height: 8px;
  }
  .home-light-contact {
    top: 90px;
    height: 13px;
  }
  .home-light-contactbtn {
    width: 12px;
    height: 12px;
  }
  .home-light-icon06 {
    top: 1px;
    width: 7px;
    height: 8px;
  }
  .home-light-dark {
    top: -6%;
    right: 0px;
    width: 12px;
    height: 12px;
  }
  .home-light-moon {
    width: 8px;
    height: 8px;
  }
  .home-light-maintext {
    top: 0px;
    left: 17%;
    right: 0px;
    bottom: 0px;
    height: 103px;
    margin: auto;
    position: absolute;
  }
  .home-light-second-text {
    top: 30%;
    left: 2px;
    bottom: 15px;
    height: 63px;
    position: absolute;
  }
  .home-light-text {
    color: #666666;
    height: 50%;
    position: static;
    font-size: 7px;
  }
  .home-light-more-b-t-n {
    width: 60px;
    height: 14px;
    display: none;
    position: static;
    border-width: 0.2px;
  }
  .home-light-moreabtme {
    top: 75px;
    left: 75px;
    color: var(--dl-color-gray-white);
    height: 5px;
    position: absolute;
    font-size: 4.5px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-iconcointainer {
    top: 71px;
    right: 70px;
    width: 14px;
    bottom: 0px;
    height: 14px;
    position: absolute;
  }
  .home-light-arrow {
    right: 3.5px;
    width: 7px;
    height: 7px;
    position: static;
  }
  .home-light-more-b-t-n1 {
    left: 0px;
    right: 0px;
    width: 60px;
    bottom: 0px;
    height: 14px;
    margin: auto;
    display: flex;
    position: absolute;
    border-color: var(--dl-color-primary-500);
    border-width: 0.2px;
  }
  .home-light-moreabtme1 {
    top: 4px;
    color: #666666;
    height: 5px;
    font-size: 4.5px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-arrow1 {
    right: 3px;
    width: 7px;
    height: 7px;
  }
  .home-light-iconcointainer1 {
    width: 14px;
    height: 14px;
    background-color: var(--dl-color-primary-500);
  }
  .home-light-arrow2 {
    right: 3.5px;
    width: 7px;
    height: 7px;
    display: none;
    position: static;
  }
  .home-light-text03 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-light-text04 {
    color: var(--dl-color-gray-white);
    font-size: 10px;
  }
  .home-light-text05 {
    font-size: 8px;
  }
  .home-light-text06 {
    font-size: 16px;
  }
  .home-light-text07 {
    top: -60px;
    height: var(--dl-size-size-xsmall);
    font-size: 8px;
  }
  .home-light-text08 {
    font-size: 10px;
  }
}
