.skills-percentage-p-dark-skills-percentage {
  width: 81%;
  height: 438px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.skills-percentage-p-dark-html {
  top: 0px;
  left: 3%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-html1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text {
  left: 58%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 55px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.skills-percentage-p-dark-css {
  top: 0px;
  left: 28%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-css1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text1 {
  left: 61%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 50px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.skills-percentage-p-dark-js {
  top: 0px;
  left: 55%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-js1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text2 {
  left: 48%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 128px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.skills-percentage-p-dark-react-native {
  top: 0px;
  left: 80%;
  right: 38px;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-react-native1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text3 {
  left: 39%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 148px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.skills-percentage-p-dark-react {
  top: 230px;
  left: 3%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-react1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text4 {
  left: 45%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 128px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.skills-percentage-p-dark-node {
  top: 230px;
  left: 28%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-nodejs {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text5 {
  left: 45%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 128px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.skills-percentage-p-dark-m-u-i {
  top: 230px;
  left: 55%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-m-ui1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text6 {
  left: 54%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 50px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.skills-percentage-p-dark-bootstrap {
  top: 230px;
  left: 80%;
  width: 183px;
  height: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills-percentage-p-dark-bootstrap1 {
  top: 0px;
  left: 0px;
  width: 177px;
  height: 168px;
  position: absolute;
  margin-bottom: Infinitypx;
}
.skills-percentage-p-dark-text7 {
  left: 48%;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 128px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.skills-percentage-p-dark-root-class-name {
  top: 270px;
  right: 14%;
  position: absolute;
}
@media(max-width: 1200px) {
  .skills-percentage-p-dark-skills-percentage {
    right: 16%;
    width: 850px;
    margin: auto;
  }
  .skills-percentage-p-dark-text {
    left: 30%;
  }
  .skills-percentage-p-dark-text1 {
    left: 34%;
  }
  .skills-percentage-p-dark-text2 {
    left: 36.4%;
  }
  .skills-percentage-p-dark-text3 {
    left: 30%;
  }
  .skills-percentage-p-dark-text4 {
    left: 33%;
  }
  .skills-percentage-p-dark-text5 {
    left: 33%;
  }
  .skills-percentage-p-dark-text6 {
    left: 30%;
  }
  .skills-percentage-p-dark-text7 {
    left: 35%;
  }
}
@media(max-width: 991px) {
  .skills-percentage-p-dark-skills-percentage {
    top: 270px;
    right: 20%;
    width: 550px;
    height: 948px;
    margin: auto;
    margin-right: auto;
  }
  .skills-percentage-p-dark-html {
    left: 2%;
  }
  .skills-percentage-p-dark-text {
    left: 1%;
    right: 0px;
  }
  .skills-percentage-p-dark-css {
    left: 68%;
  }
  .skills-percentage-p-dark-text1 {
    left: 1%;
  }
  .skills-percentage-p-dark-js {
    top: 250px;
    left: 2%;
  }
  .skills-percentage-p-dark-text2 {
    left: 6%;
  }
  .skills-percentage-p-dark-react-native {
    top: 250px;
    left: 68%;
  }
  .skills-percentage-p-dark-text3 {
    left: 6%;
  }
  .skills-percentage-p-dark-react {
    top: 500px;
    left: 2%;
    bottom: 0px;
  }
  .skills-percentage-p-dark-text4 {
    left: 1%;
  }
  .skills-percentage-p-dark-node {
    top: 500px;
    left: 68%;
  }
  .skills-percentage-p-dark-text5 {
    left: 1%;
  }
  .skills-percentage-p-dark-m-u-i {
    top: 750px;
    left: 2%;
  }
  .skills-percentage-p-dark-text6 {
    left: -3%;
  }
  .skills-percentage-p-dark-bootstrap {
    top: 750px;
    left: 68%;
  }
  .skills-percentage-p-dark-text7 {
    left: 3%;
  }
}
@media(max-width: 767px) {
  .skills-percentage-p-dark-skills-percentage {
    left: -75px;
    right: 0px;
    width: 361px;
    margin: auto;
  }
  .skills-percentage-p-dark-text {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text2 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text3 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text4 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text5 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text6 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .skills-percentage-p-dark-text7 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .skills-percentage-p-dark-skills-percentage {
    top: 190px;
    left: 0px;
    right: 0px;
    width: 182px;
    height: 1936px;
    margin: auto;
    background-color: transparent;
  }
  .skills-percentage-p-dark-text {
    font-size: 18px;
  }
  .skills-percentage-p-dark-css {
    top: 250px;
    left: 2%;
  }
  .skills-percentage-p-dark-text1 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-js {
    top: 500px;
  }
  .skills-percentage-p-dark-text2 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-react-native {
    top: 750px;
    left: 2%;
  }
  .skills-percentage-p-dark-text3 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-react {
    top: 1000px;
  }
  .skills-percentage-p-dark-text4 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-node {
    top: 1250px;
    left: 2%;
  }
  .skills-percentage-p-dark-text5 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-m-u-i {
    top: 1500px;
  }
  .skills-percentage-p-dark-text6 {
    font-size: 18px;
  }
  .skills-percentage-p-dark-bootstrap {
    top: 1750px;
    left: 2%;
  }
  .skills-percentage-p-dark-text7 {
    font-size: 18px;
  }
}
